body{
    background: antiquewhite;
    color: black;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.wrapper{
    text-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 25%
}